.personagens {
    margin-bottom: 60px;

    h2 {
        padding: 50px 0;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 320px);
        gap: 25px;
        justify-content: center;
        

        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            padding: 0 16px;
        }

        @media (min-width: 769px) and (max-width:1024px) {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 15px;
            padding: 0 16px;
        }

        &__item {
            height: 400px;
            max-width: 100%;

            @media (min-width: 769px) and (max-width:1024px) {
            height: auto;
        }

            @media (max-width: 768px) {
                height: auto;

                &:last-of-type {
                    display: none;
                }
            }

            &:hover {
                transform: scale(1.1);
                
                @media (max-width: 1024px) {
                    transform: none;
                }
            } 
        }
    }
}