@use 'variaveis';

.trailer {
    padding-bottom: 50px;
    background-color: lighten(variaveis.$corPrincipal, 5%);

    h2 {
        padding: 50px 0;
    }

    &__video {
        width: 100%;
        text-align: center;

        &__tamanho {
            
            @media (max-width: 768px) {
            width: 100%;
            padding: 16px;
            }

            @media (min-width: 769px) and (max-width:1024px) {
                width: 100%;
                padding: 16px;
            }
        }
    }
}